<launch>

<node pkg="rosbag" type="record" name="rosbag_record"
      args="-o /home/ros/Downloads/.bag
      /sensor/cameraF50/image_raw/compressed
      /sensor/cameraF30/image_raw/compressed
      /sensor/cameraF100/image_raw/compressed
      /sensor/cameraLF100/image_raw/compressed
      /sensor/cameraRF100/image_raw/compressed
      /sensor/cameraRR100/image_raw/compressed
      /sensor/cameraLR100/image_raw/compressed
      /sensor/cameraR50/image_raw/compressed
      /sensor/cameraFront195/image_raw/compressed
      /sensor/cameraRear195/image_raw/compressed
      /sensor/cameraLeft195/image_raw/compressed
      /sensor/cameraRight195/image_raw/compressed
      /navi/fusion
      /tf
      /tf_static
      /can_bus_dbw/can_rx
      /can_bus_1/can_rx
      /radar/ars40821/objects
      /radar/srr20821_rb/tracks
      /radar/srr20821_rl/tracks
      /radar/srr20821_rr/tracks
      /debug/car_iamge_FC/compressed
      /debug/light_image/compressed
      /store/camera_1a00/image/compressed
      /store/camera_1a01/image/compressed
      /store/camera_1a02/image/compressed
      /store/camera_2a00/image/compressed
      /store/camera_2a01/image/compressed
      /store/camera_2a02/image/compressed
      /store/camera_2b04/image/compressed
      /store/camera_2b05/image/compressed
      /planning
      /compute/vision/tracking
      /compute/vision/light
      /m4u_comma_cmd
      /vehicle/brake_info_report 
      /vehicle/brake_report 
      /vehicle/steering_report 
      /vehicle/throttle_info_report 
      /vehicle/throttle_report 
      /vehicle/misc_1_report 
      /vehicle/gear_report 
      /vehicle/wheel_position_report 
      /vehicle/wheel_speed_report 
      /vehicle/imu/data_raw 
      /vehicle/gps/fix 
      /vehicle/gps/time 
      /vehicle/gps/vel
      /map/lanes
      /object/prediction
      /controller_report
      /compute/fusion/tracking
      /velodyne_multi_scans
      /velodyne_points
      /sensor/gpfpd
      /whoami
      /param_aggregator/config
      /compute/lidar/tracking
      /compute/lidar/object
      /compute/vision/front_car
      /compute/vision/front_ped
      /compute/vision/left_front_car
      /compute/vision/left_front_ped
      /compute/vision/right_front_car
      /compute/vision/right_front_ped
      /light_detect_trigger
      /diagnostics
      /decision_report
      /forward_recorder/recording_state
      /forward_recorder/recording_ipc_state
      /fusion_traffic_light_report 
      /lidar300
      "/>
      
</launch>
